.burger {
  display: none;
  position: relative;
  width: 20px;
  height: 12px;
  cursor: pointer;

  $self: &;

  @media #{$Media-max-800} {
    display: block;
  }

  &_active {
    #{$self}__burger-line {
      top: 0; left: 0;
      right: 0; bottom: 0;
      margin: auto;

      &_one {
        transform: rotate(45deg);
      }

      &_two {
        transform: rotate(-45deg);
      }
    }
  }

  &__line {
    @include transition-all;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $purple;

    &_one {
      top: 0;
    }

    &_two {
      bottom: 0;
    }
  }
}